// home page

%a-box {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 12px 0 rgba(0, 0, 0, 0.05);

  > h2 {
    font-size: 20px;
    color: #909399;
  }
}

%header-box {
  padding: 20px;
  text-align: right;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 12px 0 rgba(0, 0, 0, 0.05);

  .title {
    font-size: 24px;
    line-height: 32px;
    color: #909399;
  }
}

%scrollbar {
  /* 滚动槽 */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.06);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
  }
  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

html {
  @extend %scrollbar;
}

.home-page {
  padding: 20px;

  .operate-box {
    padding: 20px;
    @extend %a-box;
  }

  .content-box {
    margin-top: 24px;
    padding: 20px;
    @extend %a-box;

    textarea {
      white-space: nowrap;
    }
  }

  .result-box {
    margin-top: 24px;
    padding: 20px;
    @extend %a-box;
  }
}

.manage-page {
  padding: 20px;

  .operate-box {
    padding: 20px;
    @extend %a-box;
  }

  .label-box {
    margin-top: 24px;
    padding: 20px;
    @extend %a-box;
  }

  .table-box {
    margin-top: 24px;
    padding: 20px 20px 10px;
    @extend %a-box;
  }
}

.model-page {
  padding: 20px;

  .header-box {
    @extend %header-box;
  }

  .main-box {
    padding: 20px;
    @extend %a-box;
  }
}

.dataset-page {
  padding: 20px;

  .header-box {
    @extend %header-box;
  }

  .main-box {
    padding: 20px;
    @extend %a-box;
  }
}
